# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Mac indexing files
.DS_Store

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag


# MATLAB Project files
resources/project/*

# Toolbox documentation html files
!toolbox/examples/html/helptoc.xml

# Reports generated during build
reports/*
!reports/badge

# Coverage reports
tests/coverageReport/*
